{% assign curdate = '' %}
<table>
{% for post in include.posts %}
	{% assign thisdate = post.date | date_to_string %}
	{% if curdate != thisdate %}
		{% if curdate != '' %}
			<tr class="spacer"><td colspan="2">&nbsp;</td></tr>
		{% endif %}
		<tr class="date"><th colspan="2">
		{{ post.date | date: "%b" }} 
		{% assign d = post.date | date: "%-d"  %}
		{% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
		{{ post.date | date: "%Y" }}
		</th></tr>
		{% assign curdate = post.date | date_to_string %}
	{% endif %}
	<tr class="time"><th colspan="2">
		{{ post.date | date: "%-I:%M%p" | downcase }}
	</th></tr>
	{% if post.bptop and post.bpbot %}
		{% capture bp %}{{ post.bptop }}/{{ post.bpbot }}{% endcapture %}
		{% include measurement.html field='BP' value=bp %}
	{% endif %}
	{% if post.weight %}
		{% capture weight %}{{ post.weight | divided_by: 14 }}st {{ post.weight | modulo: 14 }}lbs{% endcapture %}
		{% include measurement.html field='Weight' value=weight %}
	{% endif %}
	{% if post.glucose %}
		{% capture glucose %}{{ post.glucose }} mmol/L{% endcapture %}
		{% include measurement.html field='Glucose' value=glucose %}
	{% endif %}
	{% if post.insulin %}
		{% capture insulin %}{{ post.insulin }} unit{% if post.insulin != 1 %}s{% endif %}{% endcapture %}
		{% include measurement.html field='Insulin' value=insulin %}
	{% endif %}
	{% if post.bolus %}
		{% capture bolus %}{{ post.bolus }} unit{% if post.bolus != 1 %}s{% endif %}{% endcapture %}
		{% include measurement.html field='Bolus' value=bolus %}
	{% endif %}
	{% if post.hba1c %}
		{% capture hba1c %}{{ post.hba1c }} mmol/mol{% endcapture %}
		{% include measurement.html field='HbA1c' value=hba1c %}
	{% endif %}
	{% if post.potassium %}
		{% capture potassium %}{{ post.potassium }} mmol/L{% endcapture %}
		{% include measurement.html field='Potassium' value=potassium %}
	{% endif %}
	{% assign content = post.content | strip_newlines %}
	{% if content != '' %}
		<tr class="content">
			<td colspan="2">
				{{ post.content }}
			</td>
		</tr>
	{% endif %}
{% endfor %}
</table>

{% include archive_links.html %}
